<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


   <form method="POST" style=" margin-top: 5rem; ">
    {% csrf_token %}
    <table  align="center">
        <tr>

        <th>Name:</th>
        <td>
            <input type="text" name="un">
        </td>

        </tr>

        <tr>
            
            <th>Email:</th>
            <td>
                <input type="email" name="uemail">
            </td>
    
        </tr>

            <tr>
            
                <th>mobile :</th>
                <td>
                    <input type="mob" name="umob">
                </td>
        
            </tr>

            <tr>
                <th>Message : </th>
                <td><textarea row="3" col="10" name="msg"></textarea></td>
            </tr>
            <tr>
                <th colspan="2"><input type="submit" value="Send Message"></th>
            </tr>
    </table>
   </form>
    
</body>
</html>